<h2>Your city elections</h2>

<div>
	<div>
		<h3>For the race of</h3>
		<h3>MAYOR</h3>
	</div>
	<form class="form" ng-submit="citySubmit(pick.mayor, pick.councilman)">
		<div>
			<div ng-repeat="mayor in mayors">
				<span class="item item-checkbox">
					<label class="checkbox">
						<input ng-value="mayor.id" type="radio" ng-model="pick.mayor" name="maySelect">
					</label>
					<span>{{ mayor.candidate }}</span>
				</span>
			</div>
		</div>

		<div>
			<h3>For the race of</h3>
			<h3>COUNCILMAN</h3>
		</div>
		<div>
			<div ng-repeat="councilman in councilmen">
				<span class="item item-checkbox">
					<label class="checkbox">
						<input ng-value="councilman.id" type="radio" ng-model="pick.councilman" name="counSelect">
					</label>
					<span>{{ councilman.candidate }}</span>
				</span>
			</div>
		</div>
		<br><br>
		<div>
			<button type="submit" value="submit">Submit</button>
		</div>
	</form>
</div>

