<h2>Your county elections</h2>

<div>
	<div>
		<h3>Proposition 1</h3>
		<h4>Vote yes or no</h4>
	</div>
	<form class="form" ng-submit="countySubmit(pick.proposition, pick.law)">
		<div>
			<div ng-repeat="proposition in propositions">
				<span class="item item-checkbox">
					<label class="checkbox">
						<input ng-value="proposition.id" type="radio" ng-model="pick.proposition" name="propSelect">
					</label>
					<span>{{ proposition.candidate }}</span>
				</span>
			</div>
		</div>

		<div>
			<h3>Tax Law</h3>
			<h4>Vote yes or no</h4>
		</div>
		<div>
			<div ng-repeat="law in laws">
				<span class="item item-checkbox">
					<label class="checkbox">
						<input ng-value="law.id" type="radio" ng-model="pick.law" name="lawSelect">
					</label>
					<span>{{ law.candidate }}</span>
				</span>
			</div>
		</div>
		<br><br>
		<div>
		<button type="submit" value="submit">Submit</button>
		</div>
	</form>
	<!-- <form class="form" ng-submit="countySubmit(propostition1Select, taxSelect)">
		<div>
			<select ng-model="proposition1Select">
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		</div>

		<div>
			<h3>Tax Law</h3>
			<h4>Vote yes or no</h4>
		</div>
		<div>
			<select ng-model="taxSelect">
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		<br><br>
		<div>
		<button type="submit" value="submit">Submit</button>
		</div>
	</form> -->
</div>
