<h2>Your county elections</h2>

<div>
	<div>
		<h3>Proposition 1</h3>
		<h4>Vote yes or no</h4>
	</div>
	<form class="form" ng-submit="countySubmit(propostition1Select, taxSelect)">
		<div>
			<select ng-model="proposition1Select">
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		</div>

		<div>
			<h3>Tax Law</h3>
			<h4>Vote yes or no</h4>
		</div>
		<div>
			<select ng-model="taxSelect">
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		<br><br>
		<div>
			<input type="submit" value="submit">Submit>
		</div>
	</form>
</div>
