.confirm-message {
  margin: 2em;
  text-align: center;

	h1 {
	  font-size: 4em;
	  margin: 1em 0 0 0;
	  color: #35c3c1;
	}
	h2 {
	  margin: 2em 0 0 0;
	  padding-top: 1em;
	  color: #fff;
	  font-size: 1em;
	}
}

.confirm-error {
	color: #fff;
	font-size: 1em;
	text-align: center;
}

@media screen and (max-width: 650px) {
	.confirm-message {
		margin: 0;
		text-align: center;

		h1 {
		  font-size: 2em;
		  margin: 1em 0 0 0;
		  color: #35c3c1;
		  	
		}
		h2 {
		  margin: 2em 0;
		  padding-top: 1em;
		  color: #fff;
		  font-size: 1em;
		}
	}

}