.election-title {
	width: 10em;
	color: white;
  	font-size: 2em;
  	margin: 0 auto;

  	.title {
  		text-align: center;
  	}
}

.banner {
	padding: 1em 2em;
	background-color: white;
	padding-right: 2em;
	width: 40%;

	h3 {
		margin: 0;
		padding: 0;
	}
}

.options-wrapper {

	.candidate {
		padding: 1em 1.5em;
		background-color: white;
	}
}

.choice-submit {
	width: 8em;
	margin: 0 auto;
}