.yes-no-wrapper {
  	width: 2em;
  	float: left;
  	height: 1em;
  	// margin: 0.6em 0 0.6em 0.6em;
  	border-bottom: 1.8px solid #ECF0F1;
}

.yes-no-box {
  	display: inline-block;
  	background-color: #ECF0F1;
  	margin: 0.5em;
  	width: 4em;
  	border-radius: 3px;
  	padding: 0.3em;
    vertical-align: top;
}

// .input-choice {
// 	margin-top: 2em;
// }

.sm-ballot-box {
  width: 6em;
  /* height: 2em; */
  float: left;
  margin-top: 0.3em;
}
