/*
Error: Invalid CSS after "@media screen ": expected "{", was "(max-width: 730..."
        on line 79 of assets/styles/state.scss
        from line 34 of assets/styles/importer.scss

74: 	border-radius: 3px;
75: 	padding: 0.3em;
76: 	vertical-align: top;
77: }
78: 
79: @media screen (max-width: 730px) {
80: 	.option-box {
81: 		// min-width: 250px;
82: 		// margin: 9.6px;
83: 		padding: 7.2px;
84: 	}

Backtrace:
assets/styles/state.scss:79
assets/styles/importer.scss:34
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1165:in `expected'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1101:in `expected'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:641:in `block'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:401:in `media_directive'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:194:in `directive'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:660:in `block_child'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:42:in `parse'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/engine.rb:393:in `_to_tree'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/engine.rb:299:in `to_tree'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/stack.rb:88:in `block in with_import'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/stack.rb:88:in `with_import'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:407:in `run'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/exec/base.rb:52:in `parse'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/lib/sass/exec/base.rb:19:in `parse!'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/gems/sass-3.4.12/bin/sass:13:in `<top (required)>'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/bin/sass:23:in `load'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/bin/sass:23:in `<main>'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/erikamoller/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@media screen \": expected \"{\", was \"(max-width: 730...\"\A         on line 79 of assets/styles/state.scss\A         from line 34 of assets/styles/importer.scss\A \A 74: 	border-radius: 3px;\A 75: 	padding: 0.3em;\A 76: 	vertical-align: top;\A 77: }\A 78: \A 79: @media screen (max-width: 730px) {\A 80: 	.option-box {\A 81: 		// min-width: 250px;\A 82: 		// margin: 9.6px;\A 83: 		padding: 7.2px;\A 84: 	}"; }
