.graph {
  margin: 1em 0.5em;
}

.bar-graph {
  background: #E74C3C;
  font-size: 0.7em;
  text-align: right;
  font-family: $serif;
  font-weight: 400;
  color: white;
  padding-right: 0.5em;
  
  p {
    padding: 0.7em 0;
    margin: 0;
  }
}

.result {
  font-size: 0.7em;
  text-align: left;
  font-family: $serif;
  font-weight: 400;
  color: #2E2E2E;
  padding-left: 0.5em;
  background: #eee;

  p {
    padding: 0.7em 0;
    margin: 0;
  }
}

.race-section {
  margin: 1em 0;
}

.race-name {
  background: #ECF0F1;
  text-align: left;
  font-family: $serif;
  font-weight: 700;
  color: #2E2E2E;
  font-size: 0.8em;
  font-style: italic;
  padding: 1em;
  margin-bottom: 2em;
}