$dark: #5E5E5E;

.graph {
  height: 1.5em;
  padding: 0.1em 1em;
  // position: relative;
}

// .results-wrapper {
//   width: 100%;
//   display: inline-block;
// }

.person {
  width: 12em;
  height: 100%;
  background: #eee;
  float: left;
  // position: relative;
  // z-index: 1;
}

.bar-graph {
  height: 2.1em;
  background: #E74C3C;
  overflow: hidden;
  font-size: 0.7em;
  text-align: right;
  font-family: $serif;
  font-weight: 400;
  color: white;
  // padding-left: 210px;
  // box-sizing: border-box;
  // position: absolute;
  // height: 36px;

}

.result {
  font-size: 0.7em;
  text-align: left;
  font-family: $serif;
  font-weight: 400;
  color: #2E2E2E;
  padding-left: 0.5em;

  h4 {
    margin: 0.5em;
  }
}

.stat {
  padding-right: 0.5em;

  h4 {
    margin: 0.5em;
  }
}

// .candidate-results {
//   display: inline-block;
//   margin: 1em;
// }

.race-sections {
  margin: 1em 0;
}

// .results-wrapper {
//   display: block;
// }

.race-name {
  background: #ECF0F1;
  text-align: left;
  font-family: $serif;
  font-weight: 700;
  color: #2E2E2E;
  font-size: 0.8em;
  font-style: italic;
  padding: 1em;
  margin-bottom: 2em;
}

.bar  {
  background: $dark;
  // position:relative;
  // bottom:0;
  // left: 10px;
  display: inline-block;
  margin: 0 0.1em;
  
  &:nth-of-type(even) {
    background:lighten($dark , 30% );
  }
}

@media (max-width: 640px) {

  .race-sections {
  margin: 1em 0;
  }
   
  .graph {
    height: 100%;
    padding: 0.1em 1em 0.1em 1em;
    // position: relative;
    width: 10em;
  }

// .results-wrapper {
//   width: 100%;
//   display: inline-block;
// }

.person {
  width: 12em;
  height: 2.1em;
  background: #eee;
  // float: left;
  // position: relative;
  // z-index: 1;
}

.bar-graph {
  height: 2.1em;
  background: #E74C3C;
  overflow: hidden;
  font-size: 0.7em;
  text-align: right;
  font-family: $serif;
  font-weight: 400;
  color: white;
  // padding-left: 210px;
  // box-sizing: border-box;
  // position: absolute;
  // height: 36px;

}

}