<header>
  <hgroup>
	<h3>Choose your elections</h3>
  </hgroup>
</header>
<nav class='login-form'>
  <div class="flex-row">
    <button class='select-button' ui-sref="state">
      <p>State</p>
    </button>
  </div>
  <div class="flex-row">
    <button class='select-button' ui-sref="county">
      <p>County</p>
    </button>
  </div>
  <div class="flex-row">
    <button class='select-button' ui-sref="city">
      <p>City</p>
    </button>
  </div>
  <div class="flex-row">
    <button class='lf--submit' ng-click="finish()">I'm finished voting</button>
  </div>
</nav>