<h2>Your state elections</h2>

<div>
	<div>
		<h3>For the race of</h3>
		<h3>GOVERNOR</h3>
	</div>
	<form class="form" ng-submit="stateSubmit(pick.governor, pick.representative)">
		<div>
			<div ng-repeat="governor in governors">
				<span class="item item-checkbox">
					<label class="checkbox">
						<input ng-value="governor.id" type="radio" ng-model="pick.governor">
					</label>
					<span>{{ governor.candidate }}</span>
				</span>
			</div>
		</div>

		<div>
			<h3>For the race of</h3>
			<h3>STATE REPRESENTATIVE</h3>
		</div>
		<div>
			<div ng-repeat="representative in representatives">
				<span class="item item-checkbox">
					<label class="checkbox">
						<input ng-value="representative.id" type="radio" ng-model="pick.representative">
					</label>
					<span>{{ representative.candidate }}</span>
				</span>
			</div>
		</div>
		<br><br>
		<div>
		<button type="submit" value="submit">Submit</button>
		</div>
	</form>
</div>

